
@model IEnumerable<CoffeeShopOnline.Models.ShoppingViewModel>
@{
    var message = TempData["Message"] ?? string.Empty;
}
<script src="~/Scripts/jquery-3.6.0.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "lengthMenu": "Display _MENU_ records per page",
                "zeroRecords": "Nothing found - sorry",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)"
            }
        });
    });

    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Shopping/Index',
            success: function (data) {
                if (data.Success) {
                    $("#cartItem").text("Cart(" + data.Counter + ")");

                }
                else {
                    alert(data.Message);

                }

            },

        });
    }


</script>


<div>
    @Html.ActionLink("Return to see all products", "Index")
</div>
<table id="example" class="display" style="width: 100%; position: static; height: 100px " ;>


    <thead>
        <tr>
            <th>קטגוריה</th>
            <th>
                מוצר
            </th>
            <th>תמונה</th>
            <th>פירוט</th>
            <th>מחיר</th>
            <th>הכי פופלרי </th>
            <th> הוסף להזמנה </th>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (@item.Promo)
            {
                <tr id="menu">
                    <td id="menu">@item.Category</td>
                    <td>@item.ItemName </td>
                    <td><img src="@Url.Content(item.ImagePath)" width="150" height="150" /></td>
                    <td><b>@item.Description</b></td>
                    <td><b>@item.PromoPrice.ToString(format: "#,##0.00 $")</b></td>

                    <td>@item.Popular</td>
                    @if (item.Quantity == 0)
                    {
                        <td>
                            <b>This item out of stock</b>
                        </td>
                    }
                    else
                    {
                        if ((@DateTime.Now.Hour < 17 && DateTime.Now.Hour > 12))
                        {
                            <td>
                                <input type="button" name="AddToCart" value="Add To Cart" class="btn btn-primary" itemid="@item.ItemId" id="btnAddToCart" onclick="AddToCart(this)" />
                            </td>
                        }
                        else
                        {
                            <td>this is not time for Business lunch products</td>
                        }

                    }
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th>קטגוריה</th>

            <th>
                מוצר
            </th>
            <th>תמונה</th>
            <th>פירוט</th>
            <th>מחיר</th>
            <th>הכי פופלרי </th>
            <th> הוסף להזמנה </th>


        </tr>
    </tfoot>

</table>
<style>
    #menu {
        background-color: rgb(40 120 40 / 0.01);
    }
</style>