@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a class="header-action" href="@Url.Action("Index", "Manage")" title="ניהול החשבון">
        <i class="bi bi-person-circle" aria-hidden="true"></i> @User.Identity.GetUserName()
    </a>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-inline" }))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="header-action header-action-button">יציאה</button>
    }
}
else
{
    <a class="header-action" id="loginLink" href="@Url.Action("Login", "Account")"><i class="bi bi-person" aria-hidden="true"></i> כניסה</a>
    <a class="btn btn-coffee btn-sm" id="registerLink" href="@Url.Action("Register", "Account")">מועדון והטבות</a>
}
