@model IEnumerable<CoffeeShopOnline.Models.ShoppingCartModel>

@{
    ViewBag.Title = "ShoppingCart";
    decimal TotalAmount = 0.00M;
    var message = TempData["Message"] ?? string.Empty;

}
<script type="text/javascript">
var message = '@message';
if(message)
        alert(message);

    Session["TotalAmount"] = TotalAmount;

</script>
<h2>ShoppingCart</h2>

@using (Html.BeginForm("Index", "Payment"))
{


<table class="table-condensed " style="width:100%">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            item.popular += 1;
            TotalAmount += item.Total;
            <tr>
                <td>
                    <img src="@Url.Content(item.ImagePath)" height="50" width="50" class="img-rounded" />
                </td>
                <td>
                    @item.ItemName
                </td>
                <td style="text-align:right">
                    @item.Quantity.ToString("#,##0.00")
                </td>
                <td style="text-align:right">

                    @item.UnitPrice.ToString("#,##0.00 $")
                </td>
                <td style="text-align:right">
                    @item.Total.ToString("#,##0.00 $")
                </td>

                <td>
                    <a href="@Url.Action("RemoveFromCart", "Shopping", new { itemId = item.ItemId })">Remove</a>
                </td>
            </tr>
        }
        <tr style="border-top: 2px solid maroon">
            <td colspan="4" style="text-align:right">
                <h3>Total Amount</h3>
            </td>
            <td style="text-align:right">
                <h3>@TotalAmount.ToString("#,##0.00 $")</h3>

            </td>

        </tr>

        <tr style="text-align:right">
            <td colspan="5">
                <input type="submit" value="Save" name="Save" class="btn btn=primary" id="SaveOrder" />
            </td>
        </tr>

        <tr style="text-align:left">
            <td colspan="5">
                @Html.ActionLink("Back to To Buy More", "Index")
            </td>
        </tr>

    }
    else
    {

        <h3>The Cart is Empty</h3>
        if (Session["table"] != null)
        {

        <tr style="text-align:center">
            <td colspan="5">
                @Html.ActionLink("Buy Something", "Index")

            </td>
        </tr>
        }
        else
        {
            @Html.ActionLink("Choose a table", "Index", "Home");
        }

    }

</table>
}
